/* General styles for mobile-friendly layout */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #c72e08;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #7c8dc7;
  }
  
  .grocery-list {
    list-style-type: none;
    padding: 0;
  }
  
  .grocery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .grocery-item input {
    width: 45%;
    padding: 8px;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .grocery-item button {
    margin-left: 10px;
    background-color: #007bff;
  }
  
  .grocery-item button:hover {
    background-color: #0056b3;
  }
  
